<main class="home-main" style="background-image: url(../image_files/campusBlur.png);">
  <div class="home-title">
    <h3>WELCOME TO</h3>
    <h1>BEAV-GUESSER</h1>
  </div>

  <div class="home-button-container">
    <button class="home-play-button" type="button" onclick="goToPage('/guesser')">
      Play Game
    </button>
  </div>

  <div class="home-panel-container">
    <div class="home-panel-box home-left-panel">
      <img src="../image_files/bennyMenu.png" alt="Background Campus Picture">
    </div>
    
    <div class="home-panel-box home-middle-panel">
      <p>How well do you know </p>
      <p>your own campus?</p>
    </div>
    
    <div class="home-panel-box home-right-panel">
      <ul>
        <li>Made to address students and staff not knowing where certain buildings are.</li>
        <li>Created by Team 18 (Blake, Lukas, Joy, Kevin T, Kevin N, Sam, Gavin).</li>
       <li>Report Bugs <a href="https://github.com/blakethomas12/Beav-Guesser/issues">Here</a></li>
      </ul>
    </div>
  </div>
</main>
