<main class="home-main">
  <h1 class="home-title">Welcome to Beav-Guesser</h1>

  <div class="home-button-container">
    <button class="home-play-button" type="button" onclick="goToPage('/guesser')">
      Play Game
    </button>
  </div>

  <div class="home-panel-container">
    <div class="home-panel-box home-left-panel">
      <p>Left Panel</p>
    </div>
    <div class="home-panel-box home-middle-panel">
      <p>Middle Panel</p>
    </div>
    <div class="home-panel-box home-right-panel">
      <p>Right Panel</p>
    </div>
  </div>
</main>
