<main class="leaderboard-page">
  <h1>
    <img src="../image_files/chainsawVersus.png" alt="Chainsaw Versus" class="leaderboard-icon">
    Leaderboard
    <img src="../image_files/chainsawVersus.png" alt="Chainsaw Versus" class="leaderboard-icon">
  </h1>
  <table>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Total Score</th>
    </tr>
    {{#each leaderboard}}
      <tr>
        <td>{{rank}}</td>
        <td>{{username}}</td>
        <td>{{total_score}}</td>
      </tr>
    {{/each}}
  </table>
</main>
