@font-face {
    font-family: 'Stratum 2';
    src: url('../font_files/stratum2-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
}

button {
    margin: 0;
    
    
}

.panel { /* Panels on the Home.html page */
    background-color: rgb(255, 191, 0);
}

.topnav { /* Navigation bar at the top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff6200;
    
}

.topnav-group { /* Specific groups within the Navigation bar */
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    text-decoration: none;
}

.topnav-item {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Stratum 2', sans-serif;
}

.topnav-item.active { /* The topnav item for the currently active page (ie: when on the "about" page, this will affect the 'about' nav item) */
    background-color: #c45109;
}

.button-background-fix {
    border: none;
    background: none;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    font-size:large;
    transform: scale(1.5);
    transform-origin: center;
}

.logo-fix {
    transform: scale(2.3);
    transform-origin: center;
}


.body {
    margin-top: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#overlay-map{
    cursor: crosshair;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 600px;
    height: auto;
    z-index: 9;
    border-radius: 2px;
    display: none;
}

#guess-canvas {
    cursor: crosshair;
    pointer-events: all;
    background-color: transparent;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 600px;
    height: 452px;
    z-index: 10;
    border-style: dashed;
    display: none;
}

footer {
    border-top: solid;
    border-width: thick;

    text-align: right;
    font-family: "Garamond", "Trebuchet MS", Verdana, sans-serif;

    margin-bottom: 5px;
}