h1 {
    text-align: center;
}

button {
    margin: 0;
    
    
}

.panel { /* Panels on the Home.html page */
    background-color: orange;
}

.topnav { /* Navigation bar at the top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c47979;
    
}

.topnav-group { /* Specific groups within the Navigation bar */
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

.topnav-item {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

#overlay-map{
    cursor: crosshair;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 150px;
    height: 113.88px;       /*manually set the height*/
    z-index: 10;
    border-radius: 2px;
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    pointer-events: auto;
}

#overlay-map:hover, #guess-canvas:hover {
    transform: scale(4);
}

#guess-canvas {
    pointer-events: all;
    background-color: transparent;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 150px;
    height: 113.88px;
    z-index: 1000;
    transform-origin: bottom right;
    border-style: dashed;
}
