h1 {
    text-align: center;
}

button {
    margin: 0;
    
    
}

.panel { /* Panels on the Home.html page */
    background-color: rgb(255, 191, 0);
}

.topnav { /* Navigation bar at the top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff6200;
    
}

.topnav-group { /* Specific groups within the Navigation bar */
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    text-decoration: none;
}

.topnav-item {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

.logo-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.body {
    margin-top: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#overlay-map{
    cursor: crosshair;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 600px;
    height: auto;
    z-index: 9;
    border-radius: 2px;
    display: none;
}

#guess-canvas {
    cursor: crosshair;
    pointer-events: all;
    background-color: transparent;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 600px;
    height: 452px;
    z-index: 10;
    border-style: dashed;
    display: none;
}

footer {
    border-top: solid;
    border-width: thick;

    text-align: right;
    font-family: "Garamond", "Trebuchet MS", Verdana, sans-serif;

    margin-bottom: 5px;
}