<main class="about-page">
    <div class="about-container">
        <img src="../image_files/aboutCampusPic.jpg" alt="Campus Picture">
        <div class="about-text">
            <h2>About Beav-Guesser</h2>
            <p>Whether it be at the start of a new term, trying to find the group project meeting spot, or it's your first year at OSU, at one point or another students and staff alike get lost not knowing where they're going. There's a good chance that most people on campus don't know half of the buildings on campus! Which is why we created Beav-Guesser, a fun and interactive way to incentivize learning about the campus that you work at or even live on! Compete with other Beavers on your campus knowledge for bragging rights!</p>
        </div>
    </div>

    <div class="about-container reverse">
        <div class="about-text">
            <h2>How to Play</h2>
            <ol>
                <li>Click the "Play" button to start the game.</li>
                <li>You will play 5 rounds, each with a new location on the OSU map.</li>
                <li>For each round, guess the location by placing a marker on the map.</li>
                <li>Points are awarded based on the accuracy of your guess.</li>
                <li>After 5 rounds, your total score will be displayed on the leaderboard.</li>
            </ol>
            <p>&emsp;Good luck and have fun!</p>
            <p>&emsp;For more detailed instructions, refer to the <a href="https://github.com/blakethomas12/Beav-Guesser/blob/main/User_Manual.md">User Manual</a>.</p>
        </div>
        <img src="../image_files/campus-map.png" alt="Campus Map">
    </div>
</main>
