<main>
  <!-- This is the window for the google street view api -->

  <div id="game-top-bar">
    <div id="round-container">
      {{!-- show current round --}}
      <p id="current-round"></p>
    </div>
    <div id="score-container">
      {{!-- show score --}}
      <div id="score"></div>
    </div>
    <div id="button-container">
      {{!-- next round button --}}
      <button id ="next-round-button" onclick="nextRound()">Next Round</button> 
    </div>
  </div>

  <div id="street-view-window">
    <div style="width: 100%; overflow: hidden; height: 600px;">
      <iframe
        id="streetViewFrame"
        src="getRandomStreetViewEmbedLink()"
        width="100%"
        height="900"
        frameborder="0"
        style="border:0; margin-top: -150px;"
      >
      </iframe>
    </div>
  </div>

  <!-- This is the window for the OSU map -->
  <div id="guessing-map">
    <img src="..\image_files\campus-map.png" alt="Map" id="overlay-map">
    <canvas id="guess-canvas"></canvas>
  </div>
  <button onclick="showMap()" id="show-map-button">Show Map</button>

  {{!-- message that shows when game ends --}}
  <p id="game-result-message" style ="display: none;"></p>
  {{!-- restart game only when current game is over --}}
  <button id = "restart-game-button" onclick="startGame()" style = "display: none;"> Start Game Again</button>
  {{!-- home button after game ends --}}
  <button id = "go-home-button" onclick="goToPage('/')" style = "display: none;"> Home </button>
</main>