<main>
  <p>Home</p>
  <h1>Welcome to Beav-Guesser</h1>

  <!-- Div for ui related to playing the game -->
  <div>
    <button id="play_game_button" type="button" onclick="goToPage('/guesser')">Play
      Game</button>
  </div>

  <div class="panel" id="left-panel">
    <p>
      left panel
    </p>
  </div>

  <div class="panel" id="middle-panel">
    <p>
      middle panel
    </p>
  </div>

  <div class="panel" id="right-panel">
    <p>
      right panel
    </p>
  </div>

</main>