<main>
  <p>Home</p>
  <h1>Welcome to Beav-Guesser</h1>

  <!-- Div for ui related to playing the game -->
  <div>
    <button id="play_game_button" type="button" onclick="playGamePressed()">Play
      Game</button>
  </div>

  <div class="panel" id="left-panel">
    <p>
      left panel
    </p>
  </div>

  <div class="panel" id="middle-panel">
    <p>
      middle panel
    </p>
  </div>

  <div class="panel" id="right-panel">
    <p>
      right panel
    </p>
  </div>

</main>

<!-- Some short Javascript functions-->
<script>
  function playGamePressed() { // Goes to the gameplay page window.location.href
  = "Guesser.html"; }
</script>