<h1>Leaderboard</h1>
<table>
  <tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Total Score</th>
  </tr>
  {{#each leaderboard}}
    <tr>
      <td>{{rank}}</td>
      <td>{{username}}</td>
      <td>{{total_score}}</td>
    </tr>
  {{/each}}
</table>
