<main>
  <p>Sign Up</p>

  <form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" required/><br/>
    <button type="button" onclick="register()">Sign Up</button>
  </form>
</main>