<!DOCTYPE html>

<html>
    <head> 
        <title>Beav Guesser</title>
        <link rel="stylesheet" href="..\css_files\style.css">
        <script src="..\javascript_files\Page_functions.js"></script>
    </head>

    <body class = "body">
        <!-- topnav represents the navigation bar at the top of the page AND IS CURRENTLY UNIQUE FOR EACH HTML FILE-->
        <div class="topnav">
            <div class="topnav-group" id="topnav-left-group">
                <button class="topnav-item logo-button" onclick="goToPage('/')"><img src="..\image_files\bevLogo.png" height="45" width="90"></button>
                <button class="topnav-item" onclick="goToPage('/about')">About</button>
                <button class="topnav-item" onclick="goToPage('leaderboard')">Leaderboard</button>
            </div>
            <div class="topnav-group" id="topnav-right-group">
                {{#if isLoggedIn}}
                <button id= "profile-button" class="topnav-item" onclick="goToPage('/profile')">Profile</button> 
                {{else}}
                <button id= "login-button" class="topnav-item" onclick="goToPage('login')">Login</button>
                <button id="signup-button" class="topnav-item" onclick="goToPage('signup')">Signup</button>
                {{/if}}
            </div>
        </div>

       {{{body}}}

    </body>
<html>