h1 {
    text-align: center;
}

button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#overlay-map {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 150px;
    height: auto;
    z-index: 10;
    border-radius: 2px;
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

#overlay-map:hover {
    transform: scale(4);
}